.task-lists-module {
  display: flex;
  height: 100%;
  position: relative;

  &__wrapper {
    height: 100%;

    @include for-tablet-landscape {
      position: relative;
      min-width: $bp-tablet-landscape - $sidebar-width * 2;
      margin: 0 auto;
      background-color: $default-bg-color;
      box-shadow: 0px 0px 3px 1px $box-shadow-color;
    }

    @include for-desktop {
      min-width: $bp-desktop - $sidebar-width * 2;
    }
  }
}

.sidebar {
  $sidebar-bg-color: $gray-lighter;

  min-width: $sidebar-width;
  border-right: 1px solid $border-color;
  position: absolute;
  top: 0;
  bottom: 0;
  display: none;
  background-color: $sidebar-bg-color;
  padding: 1rem 0;

  &.--opened {
    display: block !important;
  }

  @include for-tablet-landscape {
    $sidebar-landscape-width: $sidebar-width - 100px;
    min-width: $sidebar-landscape-width;
    display: block;
    position: absolute;
    background: none;
    top: 0;
    bottom: 0;
    left: -$sidebar-landscape-width;
  }

  @include for-tablet-landscape {
    min-width: $sidebar-width;
    left: -$sidebar-width;
  }

  .task-list {
    $border-radius: 5px;
    $task-list-bg-color: $blue-lighter;

    cursor: pointer;
    width: 100%;
    background-color: $task-list-bg-color;
    display: flex;
    justify-content: flex-end;
    padding: .3rem 1rem;
    align-items: center;

    @include for-tablet-landscape {
      border-radius: $border-radius 0 0 $border-radius;
    }

    & + .task-list {
      margin-top: 1rem;
    }

    &.--selected {
      background-color: darken($task-list-bg-color, 10%);
    }

    .list-title {
      margin-right: 1rem;
      flex-grow: 1;
    }

    button {
      text-align: center;
      visibility: hidden;
      padding: 1px 2px;
      border-radius: 2px;
      display: inline-block;
      width: $icon-size-default + 10px;
      height: $icon-size-default + 10px;

      &:hover {
        cursor: pointer;
        background-color: $blue;
      }

      & + button {
        margin-left: .5rem;
      }
    }

    &:hover {
      button {
        visibility: visible;
      }
    }
  }

  .add-new-list {
    padding: 0 1rem;
    margin-top: 1rem;
    width: 100%;
    text-transform: uppercase;
    line-height: $icon-size-default;
    display: flex;
    align-items: center;
    cursor: pointer;

    > .icon {
      margin-right: 1rem;
    }
  }
}
