{
  "extends": "airbnb-base",
  "rules": {
    "arrow-parens": [
      "error",
      "as-needed"
    ],
    "arrow-body-style": "off",
    "import/no-extraneous-dependencies": "off"
  },
  "plugins": [
    "import"
  ]
}
