{
  "parser": "@babel/eslint-parser",
  "extends": ["airbnb-base", "prettier"],
  "rules": {
    "class-methods-use-this": "off",
    "import/no-unresolved": [
      "error",
      { "ignore": ["base", "common", "helpers", ".tmpl$"] }
    ],
    "max-len": [
      "warn",
      {
        "code": 100,
        "ignoreTemplateLiterals": true,
        "ignoreTrailingComments": true
      }
    ],
    "no-plusplus": "off",
    "no-underscore-dangle": "off",
    "spaced-comment": [
      "error",
      "always",
      {
        "line": {
          "markers": ["#region"],
          "exceptions": ["#endregion"]
        }
      }
    ],
    "quote-props": ["error", "consistent"],
    "quotes": ["error", "double", { "avoidEscape": true }]
  },
  "plugins": ["import"],
  "env": {
    "browser": true,
    "es6": true
  }
}
