.idea/
.temp/
*.log
bower_components/
build/
node_modules/
src/scripts/**/*.tmpl
src/scripts/common/partials/index.js

# nyc related files
.nyc_output/
coverage/

# project settings
.vscode/*
!.vscode/snippets/
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
