{
  "extends": "../.eslintrc",
  "rules": {
    "no-unused-expressions": "off",
    "prefer-destructuring": "off"
  },
  "globals": {
    "describe": true,
    "it": true,
    "beforeEach": true,
    "afterEach": true
  }
}
