{
  "extends": "airbnb-base",
  "rules": {
    "arrow-parens": [
      "error",
      "as-needed"
    ],
    "no-unused-expressions": "off",
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "prefer-destructuring": "off"
  },
  "globals": {
    "describe": true,
    "it": true,
    "beforeEach": true,
    "afterEach": true
  }
}
