{
  "extends": "airbnb-base",
  "rules": {
    "arrow-parens": [
      "error",
      "as-needed"
    ],
    "no-unused-expressions": "off"
  },
  "globals": {
    "describe": true,
    "it": true
  }
}
