<div class="app-header navbar navbar-expand" id="header"></div>
<div class="app-container">
  <aside class="sidebar" id="sidebar">
    sidebar
  </aside>
  <main class="main-content" id="content">
    main
  </main>
</div>
