.app-header-region {
  grid-area: app-header-region;
  background-color: $gray-lighter;
  border-bottom: 1px solid $border-color;
}

.app-header {
  height: 100%;
  padding: 0 10px;

  .header_btn {
    height: 100%;
    display: inline-flex;
    align-items: center;

    &.--alight-right {
      float: right;
    }
  }
}
