.app-header {
  padding: 0 10px;

  .header_btn {
    height: 100%;
    display: inline-flex;
    align-items: center;

    &.--alight-right {
      float: right;
    }

    & + .header_btn {
      margin-left: 10px;
    }
  }

  &,
  &__mobile,
  &__desktop {
    height: 100%;
  }

  &__mobile {
    @include for-tablet-landscape {
      display: none;
    }
  }

  &__desktop {
    display: none;
    align-items: center;

    @include for-tablet-landscape {
      display: flex;
    }
  }
}
