html,
body,
#root {
  height: 100%;
}

.app-container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: $header-height 1fr;
  gap: 0px 0px;
  grid-template-areas:
    'app-header'
    'app-content';
}

.app-header {
  grid-area: app-header;
}
.app-content {
  grid-area: app-content;
}
