html,
body,
#root {
  height: 100%;
}

.app-container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: $header-height 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "app-header-region"
    "app-content";
}

.app-header-region {
  z-index: 1;
  grid-area: app-header-region;
  box-shadow: 0px 0px 5px 1px $box-shadow-color;

  @include for-phone {
    background-color: $gray-lighter;
  }

  @include for-tablet-portrait {
    background-color: $gray-lighter;
  }

  @include for-tablet-landscape {
    background-color: $default-bg-color;
  }
}

.app-content {
  grid-area: app-content;

  @include for-tablet-landscape {
    background-color: $gray-lighter;
  }
}
