$base-font-size: .875rem;

/* Colors */
$gray-lighter: rgb(240, 240, 240);
$gray-light: rgb(242, 242, 242);
$gray: rgb(202, 202, 202);
$gray-dark: rgb(193, 193, 193);
$gray-darker: rgb(154, 154, 154);

$blue-lighter: rgb(214, 234, 254);
$blue-light: rgb(130, 182, 240);
$blue: rgb(72, 168, 238);
$blue-dark: rgb(33, 150, 243);
$blue-darker: rgb(46, 122, 233);

$box-shadow-color: rgba(0, 0, 0, .25);

/* Layout */
$sidebar-width: 250px;

$bp-mobile: 599px;
$bp-tablet-portrait: 600px;
$bp-tablet-landscape: 900px;
$bp-desktop: 1200px;
$bp-desktop-large: 1800px;

/* Header */
$header-height: 50px;

$border-color: $gray-dark;
$sidbar-bg-color: $gray-light;
$default-bg-color: white;
