<li class="nav-item">
  <a href="{{route to="lists"}}" class="nav-link">
    Lists
  </a>
</li>
<li class="nav-item">
  <a href="{{route to="profile"}}" class="nav-link">
    Profile
    {{> _icon name="profile" }}
  </a>
</li>
