<div data-region="list"></div>
{{#unless isFetching}}
  <div class="new-list">
    {{> icon name="plus"}}
    <input type="text" name="new-list-name" id="new-list-name" placeholder="New list">
  </div>
{{/unless}}
