{
  "extends": "airbnb-base",
  "rules": {
    "arrow-parens": [
      "error",
      "as-needed"
    ],
    "class-methods-use-this": [
      "error",
      {
        "exceptMethods": [
          "defaults"
        ]
      }
    ]
  },
  "plugins": [
    "import"
  ]
}
