{
  "extends": "airbnb-base",
  "rules": {
    "arrow-parens": [
      "error",
      "as-needed"
    ],
    "class-methods-use-this": [
      "error",
      {
        "exceptMethods": [
          "defaults"
        ]
      }
    ],
    "import/no-unresolved": [
      "error",
      {
        "ignore": [
          "base"
        ]
      }
    ],
    "import/extensions": "off"
  },
  "plugins": [
    "import"
  ]
}
