{
  "extends": "airbnb-base",
  "rules": {
    "max-len": [
      "warn",
      {
        "code": 100,
        "ignoreTemplateLiterals": true,
        "ignoreTrailingComments": true
      }
    ],
    "arrow-parens": [
      "error",
      "as-needed"
    ],
    "class-methods-use-this": "off",
    "import/no-unresolved": [
      "error",
      {
        "ignore": [
          "base",
          "common",
          "helpers",
          ".tmpl$"
        ]
      }
    ],
    "import/extensions": "off",
    "no-underscore-dangle": "off",
    "quote-props": [
      "error",
      "consistent"
    ],
    "no-plusplus": "off"
  },
  "plugins": [
    "import"
  ],
  "env": {
    "browser": true,
    "es6": true
  }
}
