{{#unless isFetching}}
  <div>task list layout</div>
  <pre>
    title: {{title}}
    listId: {{id}}
    cid: {{cid}}
  </pre>
  <div data-region="tasks"></div>
  <input type="text" name="new-task" autocomplete="off" id="new-task">
{{/unless}}
