<div>{{title}}</div>
<div data-region="tasks"></div>

{{#unless isFetching}}
  <div class="new-task-input">
    {{> icon name="plus"}}
    <input
      type="text"
      name="new-task"
      autocomplete="off"
      id="new-task"
      placeholder="Add new task"
      {{#if isFetching}}disabled{{/if}}
    >
  </div>
{{/unless}}
